* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fff;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #c8e6c9;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}

.recepti {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.recepti-pojedniacno {
  position: relative;
  padding: 0.2rem;
  border: 1px solid blue;
}

.recepti-pojedniacno img {
width: 200px;
}


.recepti-pojedniacno .info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* važno je staviti width + height!!*/
  width: 100%;
  height: 100%;
  color: #fff;
  color: red;
  transition: opacity 1s ease-in;
  opacity: 0;
}

.recepti-pojedniacno .info:hover  {
  opacity: 1;
}