* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fff;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #c8e6c9;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}